.right-bar {
    background-image: url('./images/right-bar.png');
    background-repeat: no-repeat;
    height:60px;
    width: 690px;
    background-position-x: 90px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    font-family: "BigNoodleTitling", sans-serif;
}

.right-bar img {
    position: relative;
}
.right-logo {
    right:1.5%;
    width: 80px;
    object-fit: contain;
    position: relative;
}

.right-name {
    color: white;
    text-align: left;
    overflow: hidden;
}

.right-score {
    margin-top: -5px;
    margin-left: 40px;
    color: black;
    font-size: 4em;
    width: 30px;
}