.right-cast-bar {
    border:1px solid red;
    display: flex;
    background-image: url('./images/right-bar.png');
    background-repeat: no-repeat;
    height:60px;
    width: 400px;
    background-position-x: 50px;
    background-color: white;
    justify-content: space-between;
    font-family: "BigNoodleTitling", sans-serif;
    margin-left: 20px;
}
.right-cast-score {
    margin-left: 20px;
}
.right-cast-logo {
    left:15px;
}

.right-cast-bar > p {
    text-align: left;
    padding-right: 5%;
}
