# General build / dev artifacts
node_modules
.idea
.vscode
coverage
/dist/
*.log
*.xcf
/.ignore/

# back-specific
/back/config.json*

# front-specific
/front/client-app/src/assets/custom

# electron-specific
/electron-app/config.json

# streamdeck-specific
*.streamDeckPlugin
/stream-deck-plugin/**/*.js
/stream-deck-plugin/**/*.map
*.sdPlugin/bin
*.sdPlugin/logs