node_modules
.idea
.vscode
coverage
*dist
com.*.streamDeckPlugin
stream-deck-plugin/com.hoshin-casts.michel-deck.streamDeckPlugin/bin
back/config.json*
electron-app/config.json
*.log

stream-deck-plugin/**/*.js
stream-deck-plugin/**/*.map

*.xcf

front/client-app/src/assets/custom

.ignore