.map-setup {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 43%;
    border-radius: 5px;
    border: 1px solid slategray;
    margin: 1rem;
    padding: 0.5rem;
    background-color: #a1a1a1;
}

.map-setup .line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    width:30px;
    height:30px;
    font-weight: 600;
    background-color: dimgray;
}

.map-setup-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.big-button{
    width: 43%;
    font-weight: 800;
    margin: 1em;
}