.team-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border:1px solid slategray;
    border-radius: 5px;
    background-color: #a1a1a1;
    margin: 1rem;
    padding: 0.5rem;
}

.team-layout .line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.line {
    height: 30px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.line div {
    text-align: left;
}

.sub-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.line.header {
    height: 60px;
}

.button {
    width: 30px;
    height: 30px;
    font-weight: 600;
    background-color: dimgray;
}

.score{
    font-weight: 600;
    font-size: 3.5rem;
}

.section-name {
    width: 4rem;
}

.team-logo-img {
    width: 50px;
    height: 50px;
}