.fullscreen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    width: 1920px;
    height: 1080px;
    position: fixed;
    left:0;
    top:0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1920px;
    height: 80px;
}

.smallest-font-game {
    height: 2rem;
    margin-top: 0.75rem !important;
    font-size: 2rem;
    text-overflow: ellipsis;
    width: 60%;
}
.small-font-game {
    height:2.2rem;
    font-size: 2.2rem;
    text-overflow: ellipsis;
    width: 60%;
    margin-top: 0.8rem;
}
.regular-font-game {
    height: 3rem;
    font-size: 3rem;
    margin-top: 0.3rem;
    width: 60%;
}